/* Định dạng chung */
/* .container {
  max-width: 1200px;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: flex-start;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: #fff;
  padding: 15px;
  text-align: center;
  position: relative;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.inner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}


.inner-content {
  padding: 10px;
}

.inner-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.inner-price-new {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c;
}

.inner-price-old {
  font-size: 16px;
  text-decoration: line-through;
  color: #999;
}

.inner-discount {
  background: #e74c3c;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
} */

.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

/* Menu cấp 2 (hiện bên phải) */
.sub-menu ul li ul {
  top: 0;
  right: 100%;
}

/* Hiện menu cấp 2 khi hover */
.sub-menu ul li:hover > ul {
  display: block;
}

.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}
