.sider
  a(href="/")
    img(
      src="/uploads/JS.png"
      width="100"
    )
  .inner-menu
    ul
      li
        a(href="/admin/dashboard") Tổng quan 
      li 
        a(href="/admin/product") Sản phẩm
      li 
        a(href="/admin/product-category") Danh mục sản phẩm
      li 
        a(href="/admin/roles") Nhóm quyền
      li 
        a(href="/admin/roles/permission") Phân quyền