.sider
  .inner-menu
    ul
      li
        a(href="/admin/dashboard") Tổng quan 
      if (role.permission.includes("products_view"))
        li 
          a(href="/admin/product") Sản phẩm
      if (role.permission.includes("products-category_view"))
        li 
          a(href="/admin/product-category") Danh mục sản phẩm
      if (role.permission.includes("view"))
        li 
          a(href="/admin/roles") Nhóm quyền
        li 
          a(href="/admin/roles/permission") Phân quyền
      if (role.permission.includes("account_view"))
        li 
          a(href="/admin/accounts") Tài khoản
      li
        a(href=prefixAdmin + "/setting/general") Cài đặt chung
